*{
	margin: 0;
	padding: 0;
}
html{
	font-family: arial, sans-serif;
	 
}
.block{
	width: 100%;
	width: 1275px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f5f5f5;
}
.name{
	width: 100%;
	background-color: #445162;
	/*height: 325px;*/
	color: #fff;
}
.wrapper_name{
	padding: 50px 50px 50px 50px;
}
.name h1{
	font-size: 56pt;
	font-weight: lighter;
	line-height: 0.75;
}
.clear{
	clear: both;
}
.product_text{
	float: left;
	/*margin-top: 50px;*/
	width: 50%;
}
.list ul{
	padding-top: 40px;
	/*margin-left: 50px;
	magin-bottom: 50px;*/
}
.list li{
	list-style-image: url(check_icon.png);
	list-style-position: inside;
	padding-bottom: 10px;
	font-size: 16pt;
	font-weight: lighter;
}
.list li:last-child{
	padding-bottom: 0;
}

.product_pic{
	position: relative;
	float: right;
	width: 50%;
}
.product_pic img{
	right: 0px;
	position: absolute;
	width: 471px;
	height: 216px;
	/*margin: 50px 0px;*/
}
.about{
	width: 100%;
	background-color: #fff;
	/*height: 345px;*/
	color: #445161;
}
.wrapper_about{
	padding: 50px;
	background-color: #fff;
}
.about_text{
	float: left;
	/*margin-top: 50px;
	margin-left: 50px;*/
	width: 55%;
}
.about_text h1{
	margin-bottom: 35px;
	font-size: 26pt;
}
.about_text p{
	margin-bottom: 25px;
	font-size: 12pt;
	line-height: 1.5;
}
.about_text p:last-child{
	margin-bottom: 0;
}
.about_video{
	float: right;
	position: relative;
}
video {
	right: 0;
	/*margin-top: 50px;*/
	position: absolute;
	border: 2px solid black;
}
.pluses {
	width: 100%;
	/*height: 370px;*/
	background-color: #f5f5f5;
	color: #445161;
	padding-top: 50px;
}
.table_pluses, .table_screens, .table_reviews{
	padding: 0 50px 50px 50px;
}
.table_pluses caption, .td_pluses_content, .table_screens caption, .table_reviews caption{
	margin-bottom: 35px;
}
.table_pluses img{
	float: left;
	margin-right: 10px;
}
.screenshots{
	/*height: 435px;*/
	width: 100%;
	background-color: #ffffff;
	color: #445161;
	padding-top: 50px;
}
.td_screen_content, .td_reviews_content{
	margin-bottom: 30px;
	margin-right: 20px;
	width: 100%;
}
.td_screen_content p{
	margin-right: 20px;
}
.screen_text h3{
	margin-bottom: 20px;
}
.table_screens img{
	float: left;
	margin-right: 15px;
}
.last_row{
	margin-bottom: 0;
}
.reviews{
	/*height: 375px;*/
	width: 100%;
	background-color: #f5f5f5;
	color: #445161;
	padding-top: 50px;
}
.bubble{
	position: relative;
	border-radius: 10px;
	display: inline-block;
	height: 122px;
	width: 470px;
	background-color: #ebebeb;
}
.bubble:before{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 20px;
	left: -20px;
	border:10px solid;
	border-color: transparent #ebebeb transparent transparent;
}
.td_reviews_content img{
	display: inline-block;
	float: left;
	margin-right: 27px;
}
.comment{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	margin: 0 10px 0 10px;
}
.pers_name{
	color: #b4b4b4;
	text-align: left;
	position: absolute;
}
.buynow{
	width: 100%;
	/*height: 606px;*/
	background-color: #ffffff;
	color: #445161;
	padding-top: 50px;
}
.container{
	width: 1004px;
	/*height: 498px;*/
	margin: 34px auto 0 auto;
	padding-bottom: 50px;
	position: relative;
}
.buynow h1, .contacts h2{
	/*margin-top: 50px;*/
	text-align: center;
}
.price_block{
	width: 298px;
	border: 1px solid #445162;
	background-color: #445162;
	border-radius: 2px;
	color: #ffffff;
	display: inline-block;
	vertical-align: bottom;
}
.price_name{
	text-align: center;
	font-size: 16pt; 
	height: 50px;
	line-height: 2;
}
.price{
	height: 66px;
	text-align: center;
	background-color: #ffffff;
	color: #445162;
	font-size: 24pt;
	line-height: 2;
}
.price_block ul{
	list-style-position: inside;
	list-style-type: decimal;
	font-size: 10pt;
	margin: 22px 20px;
	line-height: 1.5;
}
.buybutton{
	background-color: #ffffff;
	width: 260px;
	height: 40px;
	border-radius: 2px;
	color: #445162;
	text-align: center;
	line-height: 2;
	margin: 0 20px 20px 20px;
	font-size: 14pt;
	font-weight: bold;
}
.standart {
	/*height: 305px;*/
	margin-right: 45px;
}
.premium {
	/*height: 405px;
	position: absolute;
	left: 344px;
	bottom: 0;*/
	margin-right: 45px;
}
.lux{
	/*height: 498px;
	position: absolute;
	left: 687px;
	bottom: 0;*/
}
.contacts{
	width: 100%;
	height: 455px;
	background-color: #445162;
	color: #ffffff;
	padding-top: 50px;
}
.contacts_wrap{
	/*width: 785px;*/
	height: 354px;
	margin: 30px 247px 60px 253px;
	position: relative;
}
.input_str, .input_text{
	height: 20px;
	width: 480px;
	margin-bottom: 20px;
	border-radius: 4px;
	font-size: 12pt;
	font-family: sans-serif;
	padding: 10px;
}
.input_text{
	height: 150px;
	
}
.sub_button{
	margin-left: 180px;
	height: 40px;
	width: 140px;
	line-height: 2;
	color: #445162;
	font-size: 14pt;
	font-weight: bold;
	border-radius: 4px;
}
input::placeholder, textarea::placeholder{
	color: #445162;
}
.registr{
	/*height: 240px;
	width: 250px;*/
	display: inline-block;
	margin-left: 45px;
	position: absolute;
	top: 0;
}
.form{
	display: inline-block;
}
.contact_list li{
	list-style-position: inside;
	margin-bottom: 20px;
	position: relative;
}
#skype{
	list-style-image: url(skype_icon.png);
}
#icq{
	list-style-image: url(icq_icon.png);
}
#email{
	list-style-image: url(email_icon.png);
}
#tel{
	list-style-image: url(phone_icon.png);
}
.contact_list li p{
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.twit{
	display: inline-block;
	width: 43px;
	height: 43px;
	margin-right: 7px;
	background: url(social_buttons.png) -0px 0 no-repeat;
	outline: none;
	padding: 0;
}
.twit:hover{
	background-color: #00acee;
	border-radius: 50%;
}
.face{
	display: inline-block;
	width: 43px;
	height: 43px;
	margin-right: 7px;
	background: url(social_buttons.png) -49px 0 no-repeat;
	outline: none;
	padding: 0;
}
.face:hover{
	background-color: #3b5998;
	border-radius: 50%;
}
.in{
	display: inline-block;
	width: 43px;
	height: 43px;
	margin-right: 7px;
	outline: none;
	padding: 0;
	background: url(social_buttons.png) -99px 0 no-repeat;
}
.in:hover{
	background-color: #0077b5;
	border-radius: 50%;

}
.g{
	display: inline-block;
	width: 43px;
	height: 43px;
	margin-right: 7px;
	background: url(social_buttons.png) -149px 0 no-repeat;
	outline: none;
	padding: 0;
}
.g:hover{
	background-color: #4285F4;
	border-radius: 50%;
}
.yt{
	display: inline-block;
	width: 43px;
	height: 43px;
	background: url(social_buttons.png) -198px 0 no-repeat;
	outline: none;
	padding: 0;
}
.yt:hover{
	background-color: #c4302b;
	border-radius: 50%;
}
.registr{
	width: 261px;
}